@import '../stylus/_variables.styl'

// ----------
// Global
// ----------

html, body, nav, main, header, footer, div
  box-sizing: border-box

html {
  background $blue
  color $white
}

body {
  font-family: system-ui, sans-serif
  margin 0
}

#__nuxt
  background: linear-gradient(150deg, $blue, $purple, $blue) no-repeat
  min-height: 100vmax

  +above($tablet)
    min-height: 100vh

a
  color inherit
  text-decoration none

img, svg
  display block
  height auto
  max-width 100%

ul, ol
  list-style none
  margin 0
  padding 0

button
  appearance none
  background 0
  border 0
  color inherit
  padding 0
  margin 0
  outline 0
  font inherit
    
.page
  overflow: hidden
  padding: 0
  
.content
  pad(3, 1, 2)
  max-width $pwidth * 1rem
  mgn(0, auto)
