// ----------
// Global
// ----------

html, body, #__nuxt, .app
  height 100%

a
  color inherit
  text-decoration none

img, svg
  display block
  height auto
  max-width 100%

ul, ol
  list-style none
  margin 0
  padding 0

button
  appearance none
  background 0
  border 0 
  padding 0
  margin 0
  outline 0
  font inherit
    